<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /famrut-team-logs/logs/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /famrut-team-logs/logs/index.html [L]
</IfModule>
