<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /esds-worklogs/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /esds-worklogs/index.html [L]
</IfModule>
